.hometext-left {
  flex-direction: row;
}

.hometext-right {
  flex-direction: row-reverse;
}

.hometext-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;

  @media (max-width: 1200px) {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.hometext-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;

  @media (max-width: 1200px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

#promise {
  margin-top: 40px;
}
/*
.hometext {
    text-align: left;
} removed for now */
