body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
S
.navbar-collapse {
  transition-duration: 0.5s;
}

.heading {
  font-size: 44px;
}

.bold-text {
  font-family: 'NowBold', sans-serif;
  font-weight: normal;
}

.regular-text {
  font-family: 'NowRegular', sans-serif;
  font-weight: normal;
}

.black-text {
  font-family: 'NowBlack', sans-serif;
  font-weight: normal;
}

.thin-text {
  font-family: 'NowThin', sans-serif;
  font-weight: normal;
}